div.svgWrapper{
    position: absolute;
    top: 30%;
    left: 30px;
    width: 50%;
    max-width: 500px;
    min-width: 300px;
}

svg.logo{
    width: 100%;
}

.btn{
    width: 50%;
    font-size: 30px;
    border: 5px solid #fff;
    background: var(--lightBlack);
    color: #fff;
    font-weight: 100;
    padding: .7em;
    text-transform: uppercase;
    border-radius: 50px;
    display: block;
    transition: all 0.3s ease 0s;
}
.btn:hover{
    color: #404040;
    font-weight: 700;
    letter-spacing: 3px;
    background: white;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.bubble{
    width: 3em;
    position: absolute;
    bottom: 0;
}