.hamburger{
    position: absolute;
    left: 1.5em;
    display: block;
}
.line{
    width: 30px;
    height: 3px;
    background-color: white;
    margin-top: 5px;
    transition: all .6s ease-in;
}
.line.rLeft{
    margin-bottom: .4em;
    transform: rotate(45deg);
}
.line.rRight{
    margin-top: -.7em;
    transform: rotate(-45deg);
}
.line.remove{
    opacity: 0;
    transition: none;
}