
.header{
    position: fixed;
    z-index: 2;
    height: var(--headHeight);
    width: 100%;
    background-color: #000000;/* Spotify black */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header .logo{
    text-decoration: none;
    color: #1DB954;
    font-family: 'Inter', sans-serif;
    font-size: 2em;
    font-weight: 800;
    margin: 0 auto;
  }

  .list{
    position: fixed;
    left: 0;
    top: var(--headHeight);
    background-color: black;
    width: 75%;
    height: calc(100vh - var(--headHeight));
    align-items: center;
    flex-direction: column;
    z-index: 2;
    transform: translateX(-110%);
    transition: transform .6s ease-in;
  }
  .list.open{
    transform: none;
  }
  .list li{
      margin-top: 2em;
      padding: 0 1em;
  }
  .list li p{
      margin-bottom: .7em;
  }
  .list li a{
      text-decoration: none;
      color: white;
      border: 2px white solid;
      border-radius: 30px;
      padding: 3px 15px;
      box-shadow: 2px 3px 5px white;
  }
  .list li a.active, .list li a:hover{
    background-color: var(--green);
    border: none;
    color: black;
    font-weight: 700;
    box-shadow: 2px 3px 5px var(--green);
}