:root{
  --green: #1DB954;
  --lightBlack: #161212;
  --headHeight: 80px;
  --footHeight: 10vh;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100vw;
  height: 100vh;
  background-color: var(--lightBlack);
}


section{
  margin-top: calc(var(--headHeight) + 1em);
  margin-bottom: calc(var(--footHeight) + 1em);
}

.loading{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}


